<<<<<<< HEAD
body {
=======
body
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
<<<<<<< HEAD
}
=======

>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
<<<<<<< HEAD
  font-family: sans-serif;
=======
  font-family sans-serif;
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
<<<<<<< HEAD
  text-align: center;
=======
  text-align center
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
<<<<<<< HEAD
  margin: 10px 0;
  width: 100%;
}

/* the following id selector changes the color of the last three div sections in the html */

.pink {
  background-color: pink;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
=======
  margin 10px 0;
  width: 100%;
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
